enabled = true;
sign_authenticated = true;
sign_local = true;
use_domain = "header";
use_esld = true;
selector = "mail";
domain { ${MAIL_DOMAIN} { path = "/var/lib/rspamd/dkim/${MAIL_DOMAIN}.mail.key"; selector = "mail"; } }
