enabled = true;
sign_authenticated = true;
sign_local = true;
use_domain = "header";
# mail.domains contains exact signing domains, including any desired subdomain.
use_esld = false;
selector = "mail";
domain {
${DKIM_DOMAIN_CONFIG}
}
